.color-nav {
    background-image: url(../../images/output-onlinepngtools\ \(1\).png);
    background-color: greenyellow;
}

/* .container {
    justify-content: center;
    align-items: stretch;
  } */
